.page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 900px;
  height: 400px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* LEFT SIDE */
.box.left {
  width: 50%;
  background: linear-gradient(135deg, #1e5fa8, #1fa2d6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

  .box.left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .box.left p {
    color: #fff;
    margin-bottom: 30px;
  }

  .box.left button {
    padding: 12px 35px;
    background: #ffff;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
  }

    .box.left button:hover {
      background: #e06600;
      transform: translateY(-2px);
    }

/* RIGHT SIDE */

/* login button */
.right button {
  width: 50%;
  padding: 12px;
  background: #00BFFF;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}  /* space ONLY between the two links without layout changes */
  .right a + b {
  margin-left:60px; /* increase if needed */
}
#bt1 {
  width:80px;
  background-color: #2f4f9d; /* navy blue */
  color: white; /* white text */
  border: none; /* remove default border */
  border-radius: 10px; /* slightly rounded corners */
  text-align:center;
  font-size: 16px; /* small font */
  cursor: pointer; /* pointer on hover */
  transition: background 0.3s;
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 10px;
}

.otp-input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* RIGHT SIDE */
.box.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #f9f9f9;
}

  .box.right form {
    width: 100%;
    max-width: 350px;
  }

  .box.right h2 {
    color: #000080;
    top: 10px;
    margin-bottom: 25px;
    text-align: center;
  }

/* Input fields */
.textf {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

  .textf:focus {
    border-color: #000080;
    outline: none;
  }


/* Links and button */
.links {
  display: flex;
  margin-bottom: 5px;
}

  .links a {
    text-decoration: none;
    color: #2f4f9d;
  }

    .links a:hover {
      color: #ff7a18;
    }

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2f4f9d;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

  .login-btn:hover {
    background: #001f5b;
  }





/* Links and button */
.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

  .links a {
    text-decoration: none;
    color: #000080;
  }

    .links a:hover {
      color: #ff7a18;
    }

.login-btn {
  width: 50%;
  padding: 12px;
  background: #00BFFF;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

  .login-btn:hover {
    background: #001f5b;
  }



.box.left {
  width: 50%;
  background: linear-gradient(135deg, #1e5fa8, #1fa2d6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative; /* important for absolute positioning of arrow */
}

.arrow-top-left {
  position: absolute;
  top: 15px; /* distance from top */
  left: 15px; /* distance from left */
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
}

  .arrow-top-left:hover {
    transform: translateX(-5px);
    transition: transform 0.3s;
  }
