<div class="page-container">



    <div class="page-header">
      <h2>Nominee Information</h2>
      <button *ngIf="nominees.length < 3"
              class="add-btn"
              (click)="addNominee()">
        <i class="bi bi-plus-circle"></i> Add Nominee
      </button>
    </div>

    <form [formGroup]="nomineeForm" (ngSubmit)="updateNominee()">

      <div formArrayName="nominees">

        <div class="nominee-card"
             *ngFor="let nominee of nominees.controls; let i = index"
             [formGroupName]="i">

          <div class="delete-btn">
            <button type="button" (click)="removeNominee(i)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
          <!--first line-->
          <div class="form-grid">

            <div class="field">
              <label>Nominee Name</label>
              <input formControlName="nomineeName">
            </div>

            <div class="field">
              <label>DOB</label>
              <input type="date" formControlName="nomineeDob" (change)="onDobChange(i)">
            </div>

            <div class="field">
              <label>Relation</label>
              <input formControlName="nomineeRelation">
            </div>


            <div class="field">
              <label>Percentage</label>
              <input formControlName="nomineePersentage">
            </div>

            <div class="field">
              <label>Gender</label>
              <input formControlName="nomineeGender">
            </div>

          </div>

          <!--seond line-->
          <div class="form-grid">

            <div class="field">
              <label>Address</label>
              <input formControlName="nomineeAddress">
            </div>

            <div class="field">
              <label>Country</label>
              <input formControlName="nomineeCountry">
            </div>

            <div class="field">
              <label>State</label>
              <input formControlName="nomineeState">
            </div>

            <div class="field">
              <label>City</label>
              <input formControlName="nomineeCity">
            </div>

            <div class="field">
              <label>Pincode</label>
              <input formControlName="nomineePincode">
            </div>

          </div>

          <!--Third line-->
          <div class="form-grid">

            <div class="field">
              <label>Nominee PAN</label>
              <input formControlName="nomineePan" [disabled]="disablePan(nominee.value)">
            </div>

            <div class="field">
              <label>EmailId</label>
              <input formControlName="nomineeEmailId">
            </div>

            <div class="field">
              <label>Mobile No</label>
              <div class="mobile-group">
                <select>
                  <option>IN (+91)</option>
                </select>

                <input type="text" formControlName="MobileNo">
              </div>
            </div>

          </div>


          <!--if minor  (*ngIf="isMinor(nominee.value.nomineeDob)")-->
          <div *ngIf="isMinor(nominee.value.nomineeDob)" class="guardian-section">
            <div class="guardian-title">
              <span>IF NOMINEE IS MINOR</span>
            </div>


            <div class="form-grid">

              <div class="field">
                <label>Guardian Name</label>
                <input formControlName="guardianName">
              </div>

              <div class="field">
                <label>Guardian DOB</label>
                <input type="date" formControlName="guardianDob">
              </div>

              <div class="field">
                <label>Guardian Relation</label>
                <input formControlName="guardianRelation">
              </div>

              <div class="field">
                <label>Address</label>
                <input formControlName="guardianAddress">
              </div>

              <div class="field">
                <label>City</label>
                <input formControlName="guardianCity">
              </div>


            </div>

            <!--IF NOMINEEE 2-->
            <div class="form-grid">

              <div class="field">
                <label>Pincodee</label>
                <input formControlName="guardianPincode">
              </div>

              <div class="field">
                <label>State</label>
                <input formControlName="guardianState">
              </div>

              <div class="field">
                <label>Country</label>
                <input formControlName="guardianCountry">
              </div>


              <div class="field">
                <label>Guardian PAN</label>
                <input formControlName="guardianPan">
              </div>

              <div class="field">
                <label>EmailId</label>
                <input formControlName="guardianEmailId">
              </div>

              <div class="field">
                <label>Mobile No</label>
                <div class="mobile-group">
                  <select>
                    <option>IN (+91)</option>
                  </select>

                  <input type="text" formControlName="guardianMobileNo">
                </div>
              </div>



            </div>

          </div>

        </div>

      </div>


      <p class="nominee-note">
        <strong>Note :</strong><br>
        <i class="bi bi-dot"></i> In case of Joint holder Investment, Joint holder cannot be Nominee.<br>
        <i class="bi bi-dot"></i> The nomination provided herewith will be captured in all new folios created through FundzBazar until I submit fresh request for modification or cancellation of Nomination.<br>
        <i class="bi bi-dot"></i> As per the default system configuration, the nominee display preference shall be set to 'Always Display'. Accordingly, the nominee's name will be reflected in the Statement of Account (SOA).<br>
        <i class="bi bi-dot"></i> In case the investor wishes to modify this preference, a formal written request must be submitted in physical form to the respective Asset Management Company (AMC).
      </p>


      <div class="form-actions">
        <button type="button" class="back-btn" (click)="BACK()"><b>← Back</b></button>
        <button type="submit" class="submit-btn">Submit</button>
      </div>

    </form>

  




  <div class="classdiv text-left ">
    <div class="footer-bar">

      <!-- LEFT: SOCIAL ICONS -->
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
      </div>

      <!-- RIGHT -->
      <div class="footer-right">
        <span class="divider">|</span>

        <span class="toll">
          <i class="bi bi-telephone"></i>
          1800-123-456
        </span>

        <span class="divider">|</span>

        <a routerLink="/faq" class="help-link">
          <i class="bi bi-question-circle"></i>
          Help
        </a>
      </div>

    </div>
  </div>

</div>
